<<<<<<< HEAD
div#static {
    position: static;
    border: 2px solid blue;
    width: 250px;
    height: 250px;
    padding: 20px;
}

div#relative{
    position: relative;
    border: 2px solid blue;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 200px;
    top: 20px;
}

div#fixed{
    position: fixed;
    border: 2px solid blue;
    width: 250px;
    height: 250px;
    padding: 20px;
    right: 200px;
    top: 100px;
}
div#parent{
    position: relative;
    border: 2px solid blue;
    width: 250px;
    height: 250px;
    top: 100px;
}
div#absolute{
    position: apsolute;
    width: 100px;
    height: 100px;
    background-color: #00014e;
    right: 80px;
    top: 70px;
    color: white;


}
div#sticky{
    position: sticky;
    top: 0;
    background-color: #00014e;
    color: white;
    padding: 20px;
}
=======
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16px;
    box-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.2) ;
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
>>>>>>> 9b592c0114d2bda75e7cdf4a509c667d62af1a29
